.App {
  margin: 30px 200px;
}

.App-banner {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

.Dictionary {
  margin: 30px auto;
}

.form-section {
  border: solid rgb(134, 117, 106);;
  border-radius: 10px;
  margin: 30px auto;
  padding: 70px;
}

h3 {
  opacity: .7;
}

form {
  margin-top: 30px;
}

