.App {
  max-width: 950px;
  margin: 0 auto;
}

.App-banner {
  max-width: 100%;
  display: block;
  margin-top: 30px;
  border-radius: 10px;
}

.Dictionary {
  margin: 30px auto;
}

.form-section {
  border: 1px solid rgb(134, 117, 106);
  border-radius: 10px;
  margin: 30px auto;
  padding: 60px;
}

h2 {
  margin-bottom: 30px;
}

h3 {
  opacity: 0.7;
}

form {
  margin-top: 20px;
}

.word-section {
  border: 1px solid rgb(134, 117, 106);
  border-radius: 10px;
  margin: 30px auto;
  padding: 30px 60px;
}

.Phonetic {
  height: 60px;
}

.Phonetic a {
  font-size: 15px;
  text-decoration: none;
  border: 1px solid #ddd;
  margin-right: 15px;
  padding: 10px 20px;
  border-radius: 20px;
  color: black;
  transition: all 150ms ease-in-out;
}

.Phonetic a:hover {
  background: rgb(134, 117, 106);
  color: white;
}

.speech-part {
  margin-bottom: 20px;
  font-style: bold;
  opacity: 1;
}

.Meanings {
  border: 1px solid rgb(134, 117, 106);
  border-radius: 10px;
  margin: 30px auto;
  padding: 60px;
}

.examples {
  opacity: .8;
  margin-top: 10px;
  font-style: italic;
}

.examples::first-letter {
  text-transform: capitalize;
}

.Synonyms {
  display: inline-block;
}

.Photos {
  border: 1px solid rgb(134, 117, 106);
  border-radius: 10px;
  padding: 30px;
}

.Photos img {
  border-radius: 6px;
  margin-bottom: 20px;
}

footer {
  text-align: center;
  opacity: 0.7;
  margin-bottom: 20px;
}

@media (max-width: 920px) {
   .App {
     margin: 20px;
   }

   footer {
     font-size: 12px;
   }

  .form-section {
  border: 1px solid rgb(134, 117, 106);
  border-radius: 10px;
  margin: 10px auto;
  padding: 20px;
  }

  h2 {
  margin-bottom: 30px;
  }

  h3 {
  opacity: 0.7;
  }

  .word-section {
  border: 1px solid rgb(134, 117, 106);
  border-radius: 10px;
  margin: 30px auto;
  padding: 10px 20px;
  }

  .speech-part {
  margin-bottom: 20px;
  font-style: bold;
  opacity: 1;
  }

  .Meanings {
  border: 1px solid rgb(134, 117, 106);
  border-radius: 10px;
  margin: 30px auto;
  padding: 20px;
  }

  .examples {
  opacity: .8;
  margin-top: 10px;
  font-style: italic;
  } 
  .Photos {
  border: 1px solid rgb(134, 117, 106);
  border-radius: 10px;
  padding: 5px;
  }

  .Photos img {
  border-radius: 6px;
  margin-bottom: 5px;
  margin-top: 5px;
  }
}